<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b72f5f02-84e0-4c69-af3b-6c8cd6797c3e" Version="1.0.0.0" Publisher="CN=David" />
  <Properties>
    <DisplayName>d20-hockey-winrt</DisplayName>
    <PublisherDisplayName>David</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="d20 Hockey" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="A 1980s pen-and-paper hockey dice game brought to life as a Windows Store application" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#A6A7AB" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>